
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}
    
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Pic Jumbotron */
.jumbotron {
  min-height: 600px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: url("../img/maple.jpg") no-repeat center center;
  background-size: cover;
  color: white; 
  text-shadow: 0px 0px 8px #000000;
}

.vertical-center {
  min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

footer {
  padding-top: 20px;
  background-color: #DCDCDC;
  color: #FFFFFF;
}